.RollDice button{
    border: none;
    background-color: black;
    padding: 1.5em;
    color: white;
    font-weight: bold;
    border-radius: 0.5em;
    width: 15em;
    margin-top: 3em;
    transition: all 200ms ease;
}

.RollDice button:hover{
    background-color: #22223b;
}

.RollDice button:focus{
    outline: none;
}

.RollDice button:active{
    transform: scale(0.9);
}